
#app{

    @img-path: '../../../modules/wellcomeplayer-moreinforightpanel-module/img/';

    .rightPanel{

        .top{

            .title{
                background: url('@{img-path}moreinfo.png') no-repeat;
                width: 140px;
            }
        }

        .closed{

            .title{
                background: url('@{img-path}moreinfo_v.png') no-repeat;
                height: 140px;
            }
        }

        .content{
            padding: @padding-medium;
        }

        .main{

            .text{
                &.title{
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .action{
                margin: 5px 0 0 0;
                font-weight: normal;
                background: url('@{theme-img-path}sprite.png') 0 -1000px no-repeat;
                color: @brand-secondary;

                &.catalogue{
                    margin: @margin-large-vertical 0 0 0;
                }

                &.conditions{
                    margin: @margin-large-vertical 0 0 0;
                }
            }

            img{
                margin: @margin-large-vertical 0 0 0;
                max-width: 200px;
            }
        }
    }

    .overlay{

        &.conditions{
            width: 470px;
            height: 250px;

            .scroll{
                height: 180px;
            }

            .bottom{
                background: none;
            }
        }
    }
}
